@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body{
  font-family: 'Mountains of Christmas', cursive;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.6)),url("https://cdn.dribbble.com/users/811617/screenshots/9091337/media/e3fd22e7ee99ee86a711f3380d02cdf8.png");
 background-size:cover;
  height: 100vh;
}
.div{
  margin-left: 30%;
  margin-top: 30rem;
  font-size: 4rem;
  color: #fff;
}
span{
  color: red;
}
@media only screen and (max-width:80rem){
  body{
    background-size: 100% 200vh;
  background-repeat: no-repeat;
  }
}